@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Abril+Fatface");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Didact Gothic", sans-serif; }

.container {
  margin: auto;
  margin-left: 10rem;
  margin-right: 10rem; }

nav {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 3rem;
  margin-right: 3rem; }

.topnav {
  display: flex;
  overflow: hidden;
  background-color: transparent;
  justify-content: space-around;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3); }
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    height: 100px;
    line-height: 100px; }
  .topnav .menu-list a {
    transition: 0.4s ease-out; }
  .topnav .menu-list a:hover {
    color: #e0e0e0; }
  .topnav .search-bar {
    width: 400px;
    padding: 0;
    margin: 0; }
    .topnav .search-bar a {
      transition: 0.2s ease-out; }
    .topnav .search-bar a:hover {
      font-size: 23px; }
  .topnav .icon {
    display: none; }
  .topnav .logo a,
  .topnav .search-bar a {
    font-size: 24px; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; } }
@media screen and (max-width: 600px) {
  .topnav .responsive {
    position: relative; }

  .topnav .responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav .responsive a {
    float: none;
    display: block;
    text-align: left; } }
.layer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.slideshow-container {
  max-width: 100%;
  max-height: 100vh;
  position: relative;
  margin: auto; }
  .slideshow-container .slideshow, .slideshow-container .titleslides {
    display: none; }
  .slideshow-container .titleslides {
    background: blue; }
  .slideshow-container .prev,
  .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    padding: 16px;
    text-align: center;
    margin-top: -22px;
    color: #1E2A2D;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); }
  .slideshow-container .prev {
    left: 20px; }
  .slideshow-container .next {
    right: 20px; }
  .slideshow-container .next:hover,
  .slideshow-container .prev:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6); }
  .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
    .slideshow-container .fade img {
      width: 100%;
      height: 100vh; }
    .slideshow-container .fade .text {
      color: #e0e0e0;
      font-size: 15px;
      position: absolute;
      top: 40%;
      left: 10%;
      width: 50%;
      text-align: left; }
      .slideshow-container .fade .text h1 {
        font-size: 52px;
        line-height: 10px;
        padding-bottom: 20px; }
      .slideshow-container .fade .text span {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px; }
      .slideshow-container .fade .text .link {
        display: block;
        width: 150px;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
        letter-spacing: 1px;
        font-size: 11px;
        font-weight: bold;
        line-height: 70px;
        text-decoration: none;
        color: #e0e0e0;
        transition: 200ms ease-out; }
      .slideshow-container .fade .text .link:hover {
        font-size: 10.5px;
        color: #ffffff; }
    .slideshow-container .fade .titletext {
      width: 100%;
      height: 30vh;
      background: #2196F3;
      color: #ffffff;
      position: unset;
      left: 0;
      top: 0;
      text-align: center; }
      .slideshow-container .fade .titletext h1 {
        padding-top: 5rem;
        padding-bottom: 1rem;
        font-size: 52px;
        line-height: 0; }
      .slideshow-container .fade .titletext .link {
        text-decoration: none;
        color: #e0e0e0;
        font-size: 12px;
        letter-spacing: 1px;
        transition: 200ms ease-out;
        border-bottom: 1px solid #e0e0e0; }
      .slideshow-container .fade .titletext .link:hover {
        font-size: 10.5px;
        color: #ffffff; }
@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
  .slideshow-container .dot-desc {
    margin-left: 3rem;
    margin-right: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-self: center; }
    .slideshow-container .dot-desc .dot {
      cursor: pointer;
      width: 20%;
      height: 100px;
      float: left;
      text-decoration: none;
      color: #ffffff;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .slideshow-container .dot-desc .dot p {
        font-size: 14px; }
      .slideshow-container .dot-desc .dot p:nth-child(odd) {
        width: 10%;
        float: left;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .slideshow-container .dot-desc .dot p:nth-child(even) {
        width: 80%;
        text-align: left; }
  @media only screen and (max-width: 300px) {
    .slideshow-container .prev,
    .slideshow-container .next,
    .slideshow-container .text {
      font-size: 11px; } }

.title {
  height: 100px;
  width: 100%;
  background-color: #2196F3;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .title ul > li {
    list-style: none;
    width: 500px; }
    .title ul > li img {
      width: 100px;
      justify-content: center;
      text-align: center;
      margin: auto; }
    .title ul > li h3 {
      letter-spacing: 1.5px;
      line-height: 0px; }

.article-container {
  max-width: 900px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  box-shadow: 11px 10px 15px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 3rem auto; }
  .article-container .img-article {
    width: 500px;
    position: relative;
    top: -8vh; }
    .article-container .img-article img {
      width: 100%;
      transition: .3s ease-out;
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.2); }
  .article-container .article {
    width: 300px;
    margin-left: 3rem; }
    .article-container .article .left-article .categories {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      position: relative;
      top: 15px; }
      .article-container .article .left-article .categories a {
        color: #2196F3;
        padding-right: 5px; }
    .article-container .article .left-article h1 {
      font-family: "Didact Gothic", sans-serif;
      color: #2c3643; }
    .article-container .article .left-article .article-desc {
      position: relative;
      top: -15px; }
    .article-container .article .left-article .date {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      position: relative;
      top: -20px; }
    .article-container .article .left-article .button {
      height: 100%;
      display: flex;
      align-items: center; }
      .article-container .article .left-article .button .link-button {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none; }
      .article-container .article .left-article .button .link-button:hover {
        background-color: #2196F3;
        box-shadow: 0px 15px 20px rgba(33, 95, 242, 0.4);
        color: #fff;
        transform: translateY(-7px); }
    .article-container .article .bottom-article {
      position: absolute;
      left: 0; }
      .article-container .article .bottom-article a img {
        width: 50px; }

.article-container:hover .img-article img {
  transition: .5s ease-out;
  box-shadow: 11px 10px 15px 3px rgba(0, 0, 0, 0.2); }

.imageGrid {
  padding: 0;
  line-height: 0; }
  .imageGrid .tile {
    width: 33.1%;
    min-height: 20em;
    line-height: 1.2;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-family: "Verdana",sans-serif;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    cursor: hand;
    margin-top: 3px; }
    .imageGrid .tile .textWrapper {
      text-align: center;
      vertical-align: middle;
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: .75em; }
      .imageGrid .tile .textWrapper .content {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear; }
  .imageGrid .tile:before {
    content: '';
    background-color: rgba(15, 15, 15, 0.5);
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; }
  .imageGrid .tile:hover:before {
    visibility: visible;
    opacity: 1; }
  .imageGrid .tile:hover .textWrapper .content {
    visibility: visible;
    transition: .3s ease-out;
    opacity: 1; }
    .imageGrid .tile:hover .textWrapper .content h2 {
      margin: 0; }

@media (max-width: 1000px) {
  .imageGrid .tile {
    width: 50%; } }
@media (max-width: 700px) {
  .imageGrid .tile {
    width: 100%; } }
.smallnews {
  width: 60%;
  color: #1E2A2D;
  margin: 3rem; }
  .smallnews a {
    text-decoration: none;
    color: #1E2A2D;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0; }
    .smallnews a .desc {
      width: 70%;
      margin-right: 10px; }
    .smallnews a img {
      width: 230px;
      height: 150px; }

.footer {
  width: 100%;
  float: left;
  background-color: #2196F3;
  box-shadow: 10px -8px 15px rgba(0, 0, 0, 0.1); }
  .footer h2 {
    float: left;
    color: #ffffff;
    padding-top: 67px; }
  .footer .search {
    width: 100%; }
    .footer .search input {
      float: left;
      width: 300px;
      height: 45px;
      margin-right: 2%;
      margin-left: 5%;
      border-radius: 30px;
      border: none;
      padding-left: 20px;
      font-size: 18px;
      font-family: "Didact Gothic", sans-serif;
      background-color: #ffffff;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }
    .footer .search input:focus {
      outline: none; }
    .footer .search input:-moz-placeholder,
    .footer .search input:-ms-input-placeholder,
    .footer .search input::-webkit-input-placeholder,
    .footer .search input:placeholder {
      font-size: 14px;
      color: #ffffff; }
    .footer .search .button {
      height: 100%;
      display: flex;
      align-items: center;
      margin-top: 6.5%; }
      .footer .search .button .link-button {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #1E2A2D;
        background-color: #ffffff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none; }
      .footer .search .button .link-button:hover {
        background-color: #2196F3;
        box-shadow: 0px 15px 20px rgba(33, 95, 242, 0.4);
        color: #ffffff;
        transform: translateY(-7px); }
  .footer table {
    float: left;
    width: 98%;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
    margin-right: 1%;
    margin-left: 1%; }
    .footer table th {
      font-size: 20px;
      font-family: Raleway; }
    .footer table .th {
      text-decoration: none;
      color: #ffffff; }
    .footer table td {
      font-size: 13px;
      padding-top: 10px; }
      .footer table td .list {
        color: #ffffff;
        text-decoration: none; }
      .footer table td .list:hover {
        text-decoration: underline; }
  .footer .border {
    width: 90%;
    height: 1px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    background-color: #ffffff; }
  .footer .sosmed {
    width: 12%;
    float: left;
    margin-top: 20px;
    margin-left: 44%;
    margin-right: 44%; }
    .footer .sosmed a img {
      float: left;
      width: 30px;
      margin-left: 5%;
      transition: .1s ease-out; }
    .footer .sosmed a:hover img {
      width: 32px; }
  .footer .copy {
    float: left;
    color: #ffffff;
    font-size: 14px;
    padding-left: 45%; }

.modal {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal .modal-content {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .modal .modal-content .close {
      position: absolute;
      right: 0;
      top: 0;
      background-color: #222;
      width: 60px;
      height: 60px;
      color: #fff;
      line-height: 60px;
      text-align: center;
      cursor: pointer;
      transition: all .3s; }
    .modal .modal-content .close:hover {
      background-color: #fff;
      color: #222; }
    .modal .modal-content .modal-body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 130px;
      width: 100%;
      background: #ffffff; }
      .modal .modal-content .modal-body i {
        font-size: 25px;
        color: #1E2A2D; }
      .modal .modal-content .modal-body input {
        width: 90%;
        height: 50px;
        border: none;
        margin-left: 15px; }
      .modal .modal-content .modal-body input:focus {
        outline: none;
        font-family: "Didact Gothic", sans-serif;
        font-size: 24px; }
      .modal .modal-content .modal-body input::-webkit-input-placeholder,
      .modal .modal-content .modal-body input:-moz-placeholder,
      .modal .modal-content .modal-body input::-moz-placeholder,
      .modal .modal-content .modal-body input:-ms-input-placeholder,
      .modal .modal-content .modal-body input::-ms-input-placeholder,
      .modal .modal-content .modal-body input::placeholder {
        /* Most modern browsers support this now. */
        color: #909; }
  .modal .modal-animated-in {
    animation: totop-in .3s ease; }
  .modal .modal-animated-out {
    animation: totop-out .3s ease forwards; }
@keyframes totop-in {
  0% {
    top: 600px;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes totop-out {
  0% {
    top: 0px;
    opacity: 1; }
  100% {
    top: -100%;
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
