@import "partials/variable";

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-primary;
}

.container {
  margin: auto;
  margin-left: 10rem;
  margin-right: 10rem;
}

// navbar
nav {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 3rem;
  margin-right: 3rem;
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: transparent;
  justify-content: space-around;
  border-bottom: 0.1rem solid hsla(0, 0%, 100%, 0.3);

  a {
    float: left;
    display: block;
    color: $color-base;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    height: 100px;
    line-height: 100px;
  }

  .menu-list {
    a {
      transition: 0.4s ease-out;
    }

    a:hover {
      color: $color-secondbase;
    }
  }

  .search-bar {
    width: 400px;
    padding: 0;
    margin: 0;

    a {
      transition: 0.2s ease-out;
    }

    a:hover {
      font-size: 23px;
    }
  }

  .icon {
    display: none;
  }

  .logo a,
  .search-bar a {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav .responsive {
    position: relative;
  }
  .topnav .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
// end navbar

// slideshow
.layer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.slideshow-container {
  max-width: 100%;
  max-height: 100vh;
  position: relative;
  margin: auto;

  .slideshow, .titleslides{
    display: none;
  }

  .titleslides{
    background: blue;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    padding: 16px;
    text-align: center;
    margin-top: -22px;
    color: $color-dark;
    font-weight: bold;
    font-size: 18px;
    transition: 0.4s ease;
    border-radius: 100%;
    background: $color-base;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }

  .prev{
    left: 20px;
  }

  .next {
    right: 20px;
  }

  .next:hover,
  .prev:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

    img {
      width: 100%;
      height: 100vh;
    }

    .text {
      color: $color-secondbase;
      font-size: 15px;
      position: absolute;
      top: 40%;
      left: 10%;
      width: 50%;
      text-align: left;

      h1 {
        font-size: 52px;
        line-height: 10px;
        padding-bottom: 20px;
      }

      span {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
      }

      .link {
        display: block;
        width: 150px;
        border-top: 0.1rem solid hsla(0, 0%, 100%, 0.3);
        letter-spacing: 1px;
        font-size: 11px;
        font-weight: bold;
        line-height: 70px;
        text-decoration: none;
        color: $color-secondbase;
        transition: 200ms ease-out;
      }

      .link:hover {
        font-size: 10.5px;
        color: $color-base;
      }

    }

    .titletext{
        width: 100%;
        height: 30vh;
        background: $color-primary;
        color: $color-base;
        position: unset;
        left: 0;
        top: 0;
        text-align: center;

        h1{
            padding-top: $margin-default+2;
            padding-bottom: $small-spacing;
            font-size: 52px;
            line-height: 0;
        }

        .link{
            text-decoration: none;
            color: $color-secondbase;
            font-size: 12px;
            letter-spacing: 1px;
            transition: 200ms ease-out;
            border-bottom: 1px solid $color-secondbase;
        }

        .link:hover {
            font-size: 10.5px;
            color: $color-base;
        }

    }

  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .dot-desc {
    margin-left: $margin-default;
    margin-right: $margin-default;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0.1rem solid hsla(0, 0%, 100%, 0.3);
    display: flex;
    justify-content: space-between;
    align-self: center;

    .dot {
      cursor: pointer;
      width: 20%;
      height: 100px;
      float: left;
      text-decoration: none;
      color: $color-base;
      display: flex;
      justify-content: space-around;
      align-items: center;

      p {
        font-size: 14px;
      }

      p:nth-child(odd) {
        width: 10%;
        float: left;
        text-align: center;
        border: 1px solid $color-base;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      p:nth-child(even) {
        width: 80%;
        text-align: left;
      }
    }
  }

  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }
}
// end slideshow

// title header
.title {
  height: 100px;
  width: 100%;
  background-color: $color-primary;
  color: $color-base;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  ul > li {
    list-style: none;
    width: 500px;

    img {
      width: 100px;
      justify-content: center;
      text-align: center;
      margin: auto;
    }

    h3 {
      letter-spacing: 1.5px;
      line-height: 0px;
    }
  }
}
// end title header

// article
.article-container{
    max-width: 900px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 11px 10px 15px 3px rgba(0,0,0,0.1);
    padding: $small-spacing;
    margin: $margin-default auto;

    .img-article{
        width: 500px;
        position: relative;
        top: -8vh;

        img{
            width: 100%;
            transition: .3s ease-out;
            box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.2); 
        }

    }

    .article{
        width: 300px;
        margin-left: $margin-default;

        .left-article{

            .categories{
                font-family: $open-sans;
                font-size: 14px;
                position: relative;
                top: 15px;

                a{
                    color: $color-primary;
                    padding-right: 5px;
                }

            }
            
            h1{
                font-family: $font-primary;
                color: $second-black;
            }

            .article-desc{
                position: relative;
                top: -15px;
            }

            .date{
                font-family: $open-sans;
                font-size: 12px;
                position: relative;
                top: -20px;
            }

            .button{
                height: 100%;
                display: flex;
                align-items: center;

                .link-button{
                    width: 140px;
                    height: 45px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 11px;
                    text-transform: uppercase;
                    letter-spacing: 2.5px;
                    font-weight: 500;
                    color: #000;
                    background-color: #fff;
                    border: none;
                    border-radius: 45px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                    outline: none;
                }

                .link-button:hover {
                    background-color: $color-primary;
                    box-shadow: 0px 15px 20px rgba(33, 95, 242, 0.4);
                    color: #fff;
                    transform: translateY(-7px);
                }

            }

        }

        .bottom-article{
            position: absolute;
            left: 0;

            a{
                img{
                    width: 50px;
                }
            }
        }

    }

}

.article-container:hover{
    
    .img-article{
        img{
            transition: .5s ease-out;
            box-shadow: 11px 10px 15px 3px rgba(0,0,0,0.2); 
        }
    }
}
// end article

// image categories
.imageGrid {
    padding: 0;
    line-height: 0;

    .tile {
        width:33.1%;
        min-height:20em;
        line-height: 1.2;
        display:inline-block;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        
        color:#fff;
        font-family:"Verdana",sans-serif;
        text-shadow: 2px 2px 2px #000;
        cursor: pointer; 
        cursor: hand;
        margin-top: 3px;

        .textWrapper {
            text-align: center;
            vertical-align: middle;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: .75em;

            .content {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;
            }

        }

    }

    .tile:before {
        content: '';
        background-color: rgba(15,15,15,0.5);
        visibility: hidden;
        width: 100%;
        height: 100%;
        z-index: 0;
        position: absolute;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .tile:hover:before {
        visibility: visible;
        opacity: 1;
    }

    .tile:hover{

        .textWrapper .content {
            visibility: visible;
            transition: .3s ease-out;
            opacity: 1;

            h2 {
                margin: 0;
            }

        }

    }

}

@media (max-width: 1000px) {
  .imageGrid .tile {
    width: 50%;
  }
}
 
@media (max-width: 700px) {
  .imageGrid .tile {
    width: 100%;
  }
}
// end image categories

// smallnews
.smallnews{
    width: 60%;
    color: $color-dark;
    margin: $margin-default;

    a{
        text-decoration: none;
        color: $color-dark;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-secondbase;

        .desc{
            width: 70%;
            margin-right: 10px;
        }

        img{
            width: 230px;
            height: 150px;
        }

    }

}
// end smallnews

// footer
.footer{
	width: 100%;
	float: left;
    background-color: $color-primary;
    box-shadow: 10px -8px 15px rgba(0, 0, 0, 0.1);
    
    h2{
        float: left;
        color: $color-base;
        padding-top: 67px;
    }

    .search{
        width: 100%;

        input{
            float: left;
            width: 300px;
            height: 45px;
            margin-right: 2%;
            margin-left: 5%;
            border-radius: 30px;
            border: none;
            padding-left: 20px;
            font-size: 18px;
            font-family: $font-primary;
            background-color: $color-base;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }

        input:focus{
            outline: none;
        }

        input:-moz-placeholder,
        input:-ms-input-placeholder,
        input::-webkit-input-placeholder,
        input:placeholder{
            font-size: 14px;
            color: $color-base;
        }

        .button{
            height: 100%;
            display: flex;
            align-items: center;
            margin-top: 6.5%;

            .link-button{
                width: 140px;
                height: 45px;
                font-family: 'Roboto', sans-serif;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                font-weight: 500;
                color: $color-dark;
                background-color: $color-base;
                border: none;
                border-radius: 45px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
            }

            .link-button:hover {
                background-color: $color-primary;
                box-shadow: 0px 15px 20px rgba(33, 95, 242, 0.4);
                color: $color-base;
                transform: translateY(-7px);
            }

        }

    }

    table{
        float: left;
        width: 98%;
        text-align: center;
        color: $color-base;
        margin-top: 40px;
        margin-right: 1%;
        margin-left: 1%;

        th{
            font-size: 20px;
            font-family: Raleway;
        }

        .th{
            text-decoration: none;
            color: $color-base;
        }

        td{
            font-size: 13px;
            padding-top: 10px;

            .list{
                color: $color-base;
                text-decoration: none;
            }

            .list:hover{
                text-decoration: underline;
            }

        }

    }

    .border{
        width: 90%;
        height: 1px;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        background-color: $color-base;
    }

    .sosmed{
        width: 12%;
        float: left;
        margin-top: 20px;
        margin-left: 44%;
        margin-right: 44%;

        a{
            img{
                float: left;
                width: 30px;
                margin-left: 5%;
                transition: .1s ease-out;
            }
        }

        a:hover{

            img{
                width: 32px;
            }

        }

    }

    .copy{
        float: left;
        color: $color-base;
        font-size: 14px;
        padding-left: 45%;
    }

}
// end footer

// popup
.modal {
  background-color: rgba(0,0,0,.65);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-content {
    position: relative;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    .close {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #222;
        width: 60px;
        height: 60px;
        color: #fff;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        transition: all .3s;
    }

    .close:hover {
        background-color: #fff;
        color: #222;
    }

    .modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130px;
        width: 100%;
        background: $color-base;

        i{
            font-size: 25px;
            color: $color-dark;
        }

        input{
            width: 90%;
            height: 50px;
            border: none;
            margin-left: 15px;
        }

        input:focus{
            outline: none;
            font-family: $font-primary;
            font-size: 24px;
        }

        input::-webkit-input-placeholder, /* WebKit, Blink, Edge */
        input:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
        input::-moz-placeholder, /* Mozilla Firefox 19+ */
        input:-ms-input-placeholder, /* Internet Explorer 10-11 */
        input::-ms-input-placeholder, /* Microsoft Edge */     
        input::placeholder { /* Most modern browsers support this now. */
           color:    #909;
        }

    }
      
  }

  .modal-animated-in {
    animation: totop-in .3s ease;
  }
  .modal-animated-out {
    animation: totop-out .3s ease forwards;
  }

  @keyframes totop-in {
    0% {
      top: 600px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }  
  }
  
  @keyframes totop-out {
    0% {
      top: 0px;
      opacity: 1;
    }
    100% {
      top: -100%;
      opacity: 0;
    }  
  }

}
// end popup