@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Abril+Fatface');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

// FONTS
$font-primary: 'Didact Gothic', sans-serif;
$font-title: 'Abril Fatface', cursive;
$open-sans: 'Open Sans', sans-serif;

// COLOR
$color-base: #ffffff;
$color-secondbase: #e0e0e0;
$color-primary: #2196F3;
$color-accent: #2962FF;
$color-dark: #1E2A2D;
$bg: rgba(0, 0, 0, 0.2);
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$black: #000;
$second-black: #2c3643;
$limegreen: #2EE59D;

// SPACING
$margin-default: 3rem;
$small-spacing: 1rem;